
/* Base styles for SunnyPath */
:root {
  --sun-color: #f59e0b;
}

#root {
  height: 100vh;
  width: 100vw;
}

.custom-marker {
  background: none;
  border: none;
}

.guessed-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  pointer-events: none;
}
